# Solaimalai Wood Works - Backend Environment Variables
PORT=5000
MONGO_URI="mongodb+srv://<username>:<password>@cluster.mongodb.net/solaimalai?retryWrites=true&w=majority"
JWT_SECRET="your_jwt_secret_key_here"
CLIENT_URL="https://solaimalai-wood-works-14a5-rho.vercel.app"
